# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Node / frontend if any
node_modules/
dist/
build/

# Local Storage
Storage/Academic_info.js
Storage/User_setting.js
Storage/.sl_key
